*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
}
.main_container{
display: flex;
justify-content: space-around;
width: 100%;
}
.middle_container{
    width: 70%;
}
